.projects{
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 60px;
  width: 100%;
  /* width: calc(1400/1440*100%); */
  /* aspect-ratio: 1400/752; */
  background: linear-gradient(73.91deg, #FFF6E8 0%, #FFECDA 100%);
  border-radius: 30px;
}


.projects__navButton {
  top: calc(50% - var(--nav-button-size) / 2 - 80px);
}