.cover__overlay{
  /* background: linear-gradient(to right, rgba(255,251,245, 1)   1.08%,rgba(255,255,255, .3) 64.45%); */
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.3) 1.08%, #FFFBF5 64.45%);
  z-index: 1;
  width: 100%;
  object-fit: cover;
}
