.projects__imageHolder {
  border-radius: 20px;
  overflow: hidden;
}

.projects__imageHolder.small {
  width: 100%;
  aspect-ratio: 1/1;
}

.projects__imageHolder.large {
  width: 100%;
  /* aspect-ratio: 2/1; */
}