.intro{
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
  margin-top: var(--m-section);
}

.intro__navButton {
  top: calc(50% - var(--nav-button-size) / 2 - 60px);
}

.intro__full {
  padding: 20px;
  box-sizing: border-box;
}


/* Чем вам поможет платформа? */
