.article__subtitle{
  margin: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: var(--f-w-regular);
  font-size: var(--f-z-regular);
  line-height: 27px;
  color: var(--c-text-secondary);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
