@import './stylePreferences.scss';

@media screen and ( max-width: 900px ) {
  .submitPhonePage {
    padding: 40px 40px;

    &__inputBlock {
      gap: 16px;
    }
  }

  .createProject {
    padding: 40px;
  }
}

// mobile
@media screen and ( max-width: 750px ) {
  .authorizationHolder {
    width: 90%;

    &__content {
      width: unset;
      min-width: unset;
    }
  }

  .header {
    --paddingHorizontal: 20px;

    &__dropdownMenu {
      width: unset;
      left: 0;
      border-radius: 0 0 12px 12px;
    }
  }

  .tabBar {
    display: block;
  }

  .tabBarPage {
    margin-bottom: 66px;
  }

  .titleText {
    font-size: 32px;
    font-weight: $font-regular;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .baseText {
    font-size: 15px;
  }

  .pageTitle {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  .input {
    &__title {
      font-size: 15px;

      &.small {
        font-size: 12px;
      }
    }

    input {
      font-size: 15px;
    }
  }

  .paramInput {
    input {
      font-size: 15px;
    }

    &__label {
      font-size: 15px;
    }
  }

  .select {
    &__holder {
      padding-right: 6px;
    }

    &__title {
      font-size: 15px;
    }

    &__value {
      font-size: 15px;
    }

    &__item {
      font-size: 15px;
    }

    &__arrow {
      width: 32px;
      height: 32px;
      border-radius: 6px;
    }
  }

  .multiChoise {
    &__title {
      font-size: 15px;
    }
  }

  .checkbox {
    &__title {
      font-size: 15px;
    }
  }

  .link {
    &.small {
      font-size: 12px;
    }
  }

  .rangeCheck {
    &__title {
      font-size: 15px;
    }
  }

  .fileLoader {
    &__title {
      font-size: 15px;
    }

    &__fileName {
      font-size: 15px;
    }
  }

  .textArea {
    &__title {
      font-size: 15px;
    }

    textarea {
      font-size: 15px;
    }
  }

  .galeryLoader {
    &__title {
      font-size: 15px;
    }
  }

  .button {
    border-radius: 12px;
    // font-size: 15px;
  }

  .modal {
    &__content {
      width: 95vw;
    }
  }

  .alert {
    &__content {
      width: 95vw;
    }

    &__baseTitle {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__baseText {
      font-size: 15px;
      margin-bottom: 20px;
    }
  }

  .backgroundCard {
    width: 95%;
    margin: 16px auto;
  }

  .searchBar {
    &__inlineSearchButton {
      display: block;
      visibility: visible;
    }

    &__searchButton {
      display: none;
    }

    &__inputHolder {
      input {
        font-size: 15px;
      }
    }
  }

  .searchPage {
    &__searchBar {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 4px;
    }

    &__caption {
      font-size: 15px;
      box-sizing: border-box;
      padding: 0 20px;
    }
  }

  .myProjectsPage {
    width: 100%;

    &__placeholder {
      font-size: 15px;
    }

    &__block {
      .infoCard {
        margin: 20px;
      }
    }
  }

  .notificationPage {
    .notification {
      width: calc(100% - 40px);
    }

    &__caption {
      font-size: 15px;
    }
  }

  .notification {
    &__title {
      font-size: 20px;
    }
  }

  .settingsPage {
    padding: 20px;
    flex-direction: column;

    &__imageHolder {
      width: 180px;
      height: 180px;
    }

    &__nameHolder {
      flex-direction: column;
      gap: 10px;
    }

    &__numberBlock {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;

      .button {
        margin-left: unset;
        width: 100%;
      }
    }

    &__number {
      margin: 0;
    }

    &__controlsFooter {
      width: max-content;
    }
  }

  .submitPhonePage {
    padding: 40px 20px;

    &__content {
      margin: 0 auto;
      max-width: 400px;
    }

    &__inputBlock {
      flex-direction: column;
      gap: 10px;

      .button {
        width: 100%;
      }
    }
  }

  .createProject {
    padding: 20px;

    &__submitButton {
      .button {
        width: 100%;
      }
    }
  }

  .citySelect {
    &__variant {
      font-size: 15px;

      &Subtitle {
        font-size: 12px;
      }
    }
  }
}
