@-webkit-keyframes skeletalLoading {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 20%;
  }
}
@keyframes skeletalLoading {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 20%;
  }
}
.skeleton {
  color: transparent;
  opacity: 20%;
  -webkit-animation-name: skeletalLoading;
          animation-name: skeletalLoading;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: initial;
          animation-fill-mode: initial;
  border-radius: 4px;
  z-index: inherit;
}

.skeleton.header__location {
  background-color: #401F00;
  min-width: 80px;
}
.skeleton.header__profileLabel {
  background-color: #401F00;
  min-width: 80px;
}
.skeleton.header__dropdownTitle {
  background-color: #262626;
  min-width: 200px;
}
.skeleton.header__dropdownRole {
  background-color: #C5C5C5;
  min-width: 100px;
}

.skeleton.infoCard__image {
  background-color: #808080;
}
.skeleton.infoCard__title {
  background-color: #262626;
}
.skeleton.infoCard__body {
  background-color: #808080;
}

.settingsPage .skeleton.baseText__value {
  color: none;
  display: inline-block;
  background-color: #676767;
  min-width: 100px;
  margin-top: 1px;
}

.skeleton.settingsPage__number {
  color: transparent !important;
  background-color: #676767;
  min-width: 200px;
}

.skeleton.settingsPage__nameHolder .input__holder {
  color: none;
  background-color: #808080;
}

.skeleton.settingsPage__socialItem .settingsPage__socialInfo {
  background-color: #808080;
  border-radius: 4px;
}
.skeleton.settingsPage__socialItem .settingsPage__socialInfo span {
  color: transparent !important;
}
.skeleton.settingsPage__socialItem .settingsPage__socialControls {
  background-color: #808080;
  border-radius: 4px;
}
.skeleton.settingsPage__socialItem .settingsPage__socialControls .button {
  opacity: 0 !important;
}

.skeleton.settingsPage__adressMap {
  color: #676767;
  background-color: lightgrey;
}

.skeleton.pageTitle {
  background-color: #262626;
}

.skeleton.projectSearchingPage__parameterValue {
  background-color: #808080;
}

.skeleton.projectSearchingPage__description {
  background-color: #808080;
}

.skeleton.link {
  background-color: #CC8C52;
}

.skeleton.projectSearchingPage__gantDiagram {
  background-color: #D9D9D9;
  color: #676767;
}

.skeleton.makerProfileCard__projectsCount {
  background-color: #262626;
}
.skeleton.makerProfileCard__projectDescription {
  background-color: #676767;
}
.skeleton.makerProfileCard__title {
  background-color: #262626;
}
.skeleton.makerProfileCard__text {
  background-color: #676767;
}

.skeleton.notification__title {
  background-color: #262626;
}
.skeleton.notification__body {
  background-color: #676767;
}

.skeleton.makerPage__achivement {
  border-radius: 50%;
  background: #C5C5C5;
}
.skeleton.makerPage__makerLogoHolder {
  border-radius: 50%;
  background-color: #C5C5C5;
}
.skeleton.makerPage__makerTitle {
  background-color: #262626;
}
.skeleton.makerPage__description {
  background-color: #676767;
}
.skeleton.makerPage__contact {
  background-color: #676767;
}
.skeleton.makerPage__map {
  color: #676767;
  background-color: lightgrey;
}

.skeleton.review__avatar {
  border-radius: 50%;
  background-color: #C5C5C5;
}
.skeleton.review__username {
  background-color: #262626;
}
.skeleton.review__body {
  background-color: #676767;
}

.skeleton.negotiation__content {
  background-color: #676767;
}
.skeleton.negotiation__date {
  color: transparent;
}

.skeleton.SEOArticle__title {
  background-color: #262626;
}
.skeleton.SEOArticle__text {
  background-color: #808080;
}
.skeleton.SEOArticle__date {
  background-color: #C5C5C5;
}
.skeleton.SEOArticle__image {
  background-color: #C5C5C5;
  border-radius: 14px;
}

.skeleton.ocSuggestion__text {
  background-color: #262626;
}
.skeleton.ocSuggestion__image {
  background-color: #C5C5C5;
}