@-webkit-keyframes skeletalLoading {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 20%;
  }
}@keyframes skeletalLoading {
  0% {
    opacity: 20%;
  }
  50% {
    opacity: 40%;
  }
  100% {
    opacity: 20%;
  }
}
.skeleton {
  opacity: 20%;
  -webkit-animation: skeletalLoading 2s infinite;
          animation: skeletalLoading 2s infinite;
}