@import './stylePreferences.scss';

@media screen and ( max-width: 1300px ) {
  .SEOArticleListPage {
    &__list {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and ( max-width: 1200px ) {
  .infoCard {
    min-height: 185px;

    &__image {
      width: 181px;
      height: 181px;
    }
  }
}

@media screen and ( max-width: 1000px ) {
  .settingsPage {
    &__imageHolder {
      width: 160px;
      height: 160px;
    }
  }
}

@media screen and ( max-width: 900px ) {
  .backgroundCard {
    width: 80%;
  }

  .alert {
    &__content {
      width: 80%;
    }
  }

  .modal {
    &__content {
      width: 80%;
    }
  }

  .submitPhonePage {
    padding: 40px 40px;

    &__inputBlock {
      gap: 16px;
    }
  }

  .createProject {
    padding: 40px;
  }

  .galery {
    &__baseImage {
      height: 100%;
      min-height: 200px;
      aspect-ratio: 16/9;
    }

    &__holder {
      &.horizontal {
        $offset: 10px;
        position: relative;
        flex-direction: column;
        
        .galeryImage:first-child {
          margin-left: $offset;
          margin-top: unset;
        }

        .galeryImage:last-child {
          margin-bottom: unset;
          margin-right: $offset;
        }

        .galery__images {
          flex-direction: row;
          height: 100px;
          width: 100%;

          &::before {
            content: '';
            left: 0;
            top: unset;
            bottom: 0;
            position: absolute;
            z-index: 1;
            height: inherit;
            width: $offset;
            background: rgba(0, 0, 0, 0);
            background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: 1;
            height: inherit;
            width: $offset;
            background: rgba(0, 0, 0, 0);
            background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
          }
        }
      }
    }
  }

  #editDiagramButton {
    display: none;
  }
}

// mobile
@media screen and ( max-width: 750px ) {
  .mobileOnly {
    display: initial;
  }

  .desktopOnly {
      display: none;
  }

  .authorizationHolder {
    width: 90%;

    &__content {
      width: unset;
      min-width: unset;
    }
  }

  .header {
    --paddingHorizontal: 20px;

    &__dropdownMenu {
      width: unset;
      left: 0;
      border-radius: 0 0 20px 20px;
    }

    &__logoBlock {
      gap: 14px;
    }

    &__logo {
      width: 30px;
    }
  }

  .tabBar {
    display: block;
  }

  .tabBarPage {
    margin-bottom: 66px;
  }

  .titleText {
    font-size: 32px;
    font-weight: $font-regular;
    text-align: left;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .baseText {
    font-size: 15px;
  }

  .largeText {
    font: {
      size: 20px;
      weight: $font-regular;
    }
  }

  .pageTitle {
    margin-top: 50px;
    margin-bottom: 16px;
  }

  .input {
    &__title {
      font-size: 15px;

      &.small {
        font-size: 12px;
      }
    }

    input {
      font-size: 15px;
    }
  }

  .paramInput {
    input {
      font-size: 15px;
    }

    &__label {
      font-size: 15px;
    }
  }

  .select {
    &__holder {
      padding-right: 6px;
    }

    &__title {
      font-size: 15px;
    }

    &__value {
      font-size: 15px;
    }

    &__item {
      font-size: 15px;
    }

    &__arrow {
      width: 32px;
      height: 32px;
      border-radius: 6px;
    }
  }

  .multiChoise {
    &__title {
      font-size: 15px;
    }
  }

  .checkbox {
    &__title {
      font-size: 15px;
    }
  }

  .link {
    font-size: 15px;

    &.small {
      font-size: 12px;
    }
  }

  .rangeCheck {
    &__title {
      font-size: 15px;
    }
  }

  .fileLoader {
    &__title {
      font-size: 15px;
    }

    &__fileName {
      font-size: 15px;
    }
  }

  .textArea {
    &__title {
      font-size: 15px;
    }

    textarea {
      font-size: 15px;
    }
  }

  .galeryLoader {
    &__title {
      font-size: 15px;
    }
  }

  .button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12px;
    // font-size: 15px;

    &.square {
      border-radius: 12px;
    }
  }

  .modal {
    &__content {
      width: 95vw;
    }

    &__defaultTitle {
      font: {
        size: 32px;
        weight: $font-regular;
      }
    }

    &__deafultText {
      font-size: 16px;
    }
  }

  .alert {
    &__content {
      width: 95vw;
    }

    &__baseTitle {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__baseText {
      font-size: 15px;
      margin-bottom: 20px;
    }

    &__body {
      margin-bottom: 0;
    }

    &__controls {
      &.horizontal {
        flex-direction: column;
      }
    }
  }

  .backgroundCard {
    width: 95%;
    margin: 16px auto;
  }

  .searchBar {
    &__inlineSearchButton {
      display: block;
      visibility: visible;
    }

    &__searchButton {
      display: none;
    }

    &__inputHolder {
      input {
        font-size: 15px;
      }
    }
  }

  .progressBar {
    &__titleBlock {
      font-size: 15px;
    }
  }

  .registration {
    &__loginBlock {
      font-size: 12px;
    }
  }

  .searchPage {
    &__searchBar {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      margin-bottom: 25px;
    }

    &__title {
      margin-bottom: 4px;
    }

    &__caption {
      font-size: 15px;
      box-sizing: border-box;
      padding: 0 20px;
    }

    &__project {
      margin: {
        left: 20px;
        right: 20px;
      }
    }

    &__card {
      --sideMargin: 14px;
      margin: {
        left: var(--sideMargin);
        right: var(--sideMargin);
      }
    }
  }

  .myProjectsPage {
    width: 100%;

    &__placeholder {
      font-size: 15px;
    }

    &__block {
      .infoCard {
        margin: 20px;
      }
    }

    &__blockFooter {
      gap: 20px;
    }
  }

  .notificationPage {
    .notification {
      width: calc(100% - 40px);
    }

    &__caption {
      font-size: 15px;
    }
  }

  .notification {
    &__title {
      font-size: 20px;
    }
  }

  .settingsPage {
    padding: 20px;
    flex-direction: column;

    &__title {
      font: {
        size: 20px;
        weight: $font-regular;
      }
    }

    &__block:not(.settingsPage__achivements) {
      flex-direction: column;
    }

    &__imageHolder {
      width: 180px;
      height: 180px;
    }

    &__nameHolder {
      flex-direction: column;
      gap: 10px;
    }

    &__numberBlock {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      font-size: 15px;

      .button {
        margin-left: unset;
        width: 100%;
      }
    }

    &__number {
      margin: 0;
    }

    &__socialCaption {
      font-size: 15px;
    }

    &__socialItem {
      span {
        font-size: 15px !important;
      }
    }

    &__controlsFooter {
      width: max-content;
      flex-direction: column;
    }
  }

  .submitPhonePage {
    padding: 40px 20px;

    &__content {
      margin: 0 auto;
      max-width: 400px;
    }

    &__inputBlock {
      flex-direction: column;
      gap: 10px;

      .button {
        width: 100%;
      }
    }
  }

  .createProject {
    padding: 20px;

    &__submitButton {
      .button {
        width: 100%;
      }
    }
  }

  .citySelect {
    &__variant {
      font-size: 15px;

      &Subtitle {
        font-size: 12px;
      }
    }
  }

  .makerPage {
    padding: 20px;

    &__makerCard {
      gap: 20px;
      align-items: center;
      flex-direction: column;
    }

    &__makerTitle {
      padding: 0 !important;
    }

    &__makerLogoHolder {
      width: 180px;
      height: 180px;
    }

    &__makerInfo {
      width: 100%;
    }

    &__contactsButton {
      width: 100%;
      flex-direction: row;
    }

    &__controls {
      flex-wrap: wrap;
      gap: 8px;

      .button:not(.square) {
        width: 100%;
      }
    }

    &__rating {
      margin-bottom: 14px;
    }

    &__blockTitle {
      font: {
        size: 20px;
        weight: $font-regular;
      }
    }

    &__caption {
      font-size: 15px;
    }

    &__contactsBlock {
      gap: 20px;
      flex-direction: column;
    }

    &__footer {
      margin-top: 30px;
      margin-bottom: 0;
    }
  }

  .suggestProject {
    padding: 20px;

    &__maker {
      gap: 14px;

      &Title {
        font-size: 20px;
        padding-left: 0;
        padding-right: 20px;
      }

      &Logo {
        width: 60px;
        height: 60px;
      }
    } 

    &__projectsCaption {
      font-size: 15px;
    }
  }

  .suggestionsPage {
    width: unset;
    margin: 0 20px;
    margin-bottom: 25px;
    box-sizing: border-box;

    &__caption {
      font-size: 15px;
    }
  }

  .setReview {
    &__title {
      font: {
        size: 15px;
        weight: $font-regular;
      }
      margin-bottom: 4px;
    }
  }

  .infoCard {
    flex-direction: column;
    height: unset;
    width: unset;

    &__image {
      width: 100%;
      height: unset;
      margin: 0;
      padding: 2px;
      box-sizing: border-box;
      aspect-ratio: 16/9 !important;
    }

    &__container {
      padding: 6px 4px 4px 14px; 
    }

    &__body {
      margin: {
        top: 8px;
        bottom: 18px;
      }
      font-size: 15px;
      padding-right: 10px;
      box-sizing: border-box;
    }

    &__footer {
      font-size: 15px;
    }
  }

  .searchingProject {
    &__resp {
      font-size: 12px;
    }
  }

  .projectSearchingPage {
    padding: 20px;

    &__blockTitle {
      font: {
        size: 20px;
        weight: $font-regular;
      }
    }

    &__block {
      margin-top: 40px;

      .makerResponse:last-child {
        margin-bottom: 0;
      }
    }

    &__parameterTitle, &__parameterValue {
      font-size: 15px;
    }

    &__description {
      font-size: 15px;
    }

    &__actions {
      flex-direction: column;
    }

    &__caption {
      font-size: 15px;
    }

    .galery {
      height: unset;
    }

    &__controls {
      flex-direction: column;
    }

    &__maker {
      &Card {
        flex-direction: column;
        gap: 14px;
      }

      &LogoHolder {
        overflow: hidden;
        width: 40px;
        height: 40px;
        background-color: red;
      }

      &TitleBlock {
        flex-direction: row;
      }
    }

    &__gantFooter {
      flex-direction: column;

      .button {
        width: 100%;
      }
    }
  }

  .makerResponse {
    height: unset;
    padding: 14px;
    
    &__header {
      font-weight: $font-regular;
    }

    &__text {
      font-size: 15px;
    }

    &__footer {
      flex-direction: column;
    }
  }

  .makerProfileCard {
    flex-direction: column-reverse;
    padding: 0;
    gap: 16px;

    &__info {
      width: 100%;
      padding: 14px;
      padding-top: 0;
      box-shadow: none;
      background-color: rgba(255,255,255,0);
      gap: 14px;
      aspect-ratio: unset;

      &RightPart {
        // height: 100%;
        flex-shrink: initial;
        width: initial;
      }
    }

    &__projects {
      width: 100%;
      aspect-ratio: 1/1;
      box-sizing: border-box;
      padding: 14px;
      padding-bottom: 0;

      .makerProfileCard__tile:not(:first-child) {
        display: none;
      }
    }

    &__tile {
      width: 100%;
      height: 100%;
    }

    &__logoHolder {
      width: 50px;
      height: 50px;
    }

    &__content {
      flex-grow: initial;
    }

    &__achivements {
      flex-wrap: nowrap;
      overflow: auto;
      flex-grow: 1;
      flex-direction: column;
    }

    &__achivement {
      width: 24px;
      height: 24px;
    }

    &__footer {
      .button {
        width: 100%;
      }
    }
  }

  .activeProject {
    &__body {
      padding: 0;
    }
  }

  .eventCreation {
    .textArea {
      width: 100%;
    }
  }

  .review {
    &__info {
      flex-direction: column;
      justify-content: flex-start;
      align-items: start;
      gap: 0;
    }
  }

  .negotiation {
    &__content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      font-size: 15px;
      gap: 4px;
    }

    &__date {
      margin: 0;
      font-size: 12px;
    }
  }

  .event {
    height: 60px;
    &__content {
      font-size: 15px;
      flex-direction: column-reverse;
      gap: 4px;
    }

    &__date {
      font-size: 12px;
    }
  }

  .negotiationView {
    padding: 20px;

    &__subtitle {
      margin-bottom: 20px;
    }

    &__footer {
      flex-direction: column;
      gap: 10px;
    }
  }

  .ocSuggestion {
    padding: 14px;

    &__text {
      font-size: 15px;
    }

    &__info {
      align-items: center;
      flex-direction: column;
    }

    &__controls {
      width: 100%;
      .button {
        width: 100%;
      }
    }
  }

  .outcomingSuggestions {
    &__list {
      width: unset;
      margin: 0 20px;
    }

    &__caption {
      font-size: 15px;
    }
  }

  .SEOArticle {
    height: 120px;

    &__title {
      font-size: 20px;
      font-weight: 400;
      -webkit-line-clamp: 1;
    }
    &__text {
      font-size: 15px;
    }

    &__date {
      font-size: 12px;
    }
  }

  .SEOArticlePage {
    margin-top: 80px;
    padding: 20px;

    &__title {
      font-size: 32px;
      font-weight: 400;
    }

    &__text {
      font-size: 15px;
    }

    &__date, &__name {
      font-size: 12px;
    }
  }

  .SEOArticleCreation {
    .imageLoader {
      &__dropzone {
        height: unset;
        max-width: unset;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .registration {
    &__title {
      font-size: 25px;
    }
  }

  .SEOArticle {
    height: 84px;

    &__text {
      margin-top: 4px;
      -webkit-line-clamp: 1;
    }
  }
}

@media screen and (max-width: 372px) {
  .registration {
    &__title {
      font-size: 20px;
    }
  }
}