@media screen and (max-width: 1300px) {
  .SEOArticleListPage__list {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1200px) {
  .infoCard {
    min-height: 185px;
  }
  .infoCard__image {
    width: 181px;
    height: 181px;
  }
}
@media screen and (max-width: 1000px) {
  .settingsPage__imageHolder {
    width: 160px;
    height: 160px;
  }
}
@media screen and (max-width: 900px) {
  .backgroundCard {
    width: 80%;
  }
  .alert__content {
    width: 80%;
  }
  .modal__content {
    width: 80%;
  }
  .submitPhonePage {
    padding: 40px 40px;
  }
  .submitPhonePage__inputBlock {
    gap: 16px;
  }
  .createProject {
    padding: 40px;
  }
  .login__title {
    white-space: unset;
  }
  .galery__baseImage {
    height: 100%;
    min-height: 200px;
    aspect-ratio: 16/9;
  }
  .galery__holder.horizontal {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .galery__holder.horizontal .galeryImage:first-child {
    margin-left: 10px;
    margin-top: unset;
  }
  .galery__holder.horizontal .galeryImage:last-child {
    margin-bottom: unset;
    margin-right: 10px;
  }
  .galery__holder.horizontal .galery__images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100px;
    width: 100%;
  }
  .galery__holder.horizontal .galery__images::before {
    content: "";
    left: 0;
    top: unset;
    bottom: 0;
    position: absolute;
    z-index: 1;
    height: inherit;
    width: 10px;
    background: rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, left top, right top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  .galery__holder.horizontal .galery__images::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: inherit;
    width: 10px;
    background: rgba(0, 0, 0, 0);
    background: -webkit-gradient(linear, right top, left top, from(rgb(255, 255, 255)), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  }
  #editDiagramButton {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .mobileOnly {
    display: initial;
  }
  .desktopOnly {
    display: none;
  }
  .authorizationHolder {
    width: 90%;
  }
  .authorizationHolder__content {
    width: unset;
    min-width: unset;
  }
  .warning {
    font-size: 15px;
  }
  .header {
    --paddingHorizontal: 20px;
  }
  .header__dropdownMenu {
    width: unset;
    left: 0;
    border-radius: 0 0 20px 20px;
  }
  .header__logoBlock {
    gap: 14px;
  }
  .header__logo {
    width: 30px;
  }
  .tabBar {
    display: block;
  }
  .tabBarPage {
    margin-bottom: 66px;
  }
  .titleText {
    font-size: 32px;
    font-weight: 400;
    text-align: left;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .baseText {
    font-size: 15px;
  }
  .largeText {
    font-size: 20px;
    font-weight: 400;
  }
  .pageTitle {
    margin-top: 50px;
    margin-bottom: 16px;
  }
  .input__title {
    font-size: 15px;
  }
  .input__title.small {
    font-size: 12px;
  }
  .input input {
    font-size: 15px;
  }
  .paramInput input {
    font-size: 15px;
  }
  .paramInput__label {
    font-size: 15px;
  }
  .select__holder {
    padding-right: 6px;
  }
  .select__title {
    font-size: 15px;
  }
  .select__value {
    font-size: 15px;
  }
  .select__item {
    font-size: 15px;
  }
  .select__arrow {
    width: 32px;
    height: 32px;
    border-radius: 6px;
  }
  .multiChoise__title {
    font-size: 15px;
  }
  .checkbox__title {
    font-size: 15px;
  }
  .link {
    font-size: 15px;
  }
  .link.small {
    font-size: 12px;
  }
  .rangeCheck__title {
    font-size: 15px;
  }
  .fileLoader__title {
    font-size: 15px;
  }
  .fileLoader__fileName {
    font-size: 15px;
  }
  .textArea__title {
    font-size: 15px;
  }
  .textArea textarea {
    font-size: 15px;
  }
  .galeryLoader__title {
    font-size: 15px;
  }
  .button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 12px;
  }
  .button.square {
    border-radius: 12px;
  }
  .modal__content {
    width: 95vw;
  }
  .modal__defaultTitle {
    font-size: 32px;
    font-weight: 400;
  }
  .modal__defaultText {
    font-size: 15px;
  }
  .alert__content {
    width: 95vw;
  }
  .alert__baseTitle {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .alert__baseText {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .alert__body {
    margin-bottom: 0;
  }
  .alert__controls.horizontal {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .backgroundCard {
    width: 95%;
    margin: 16px auto;
  }
  .searchBar__inlineSearchButton {
    display: block;
    visibility: visible;
  }
  .searchBar__searchButton {
    display: none;
  }
  .searchBar__inputHolder input {
    font-size: 15px;
  }
  .progressBar__titleBlock {
    font-size: 15px;
  }
  .registration__loginBlock {
    font-size: 12px;
  }
  .searchPage__searchBar {
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 25px;
  }
  .searchPage__title {
    margin-bottom: 4px;
  }
  .searchPage__caption {
    font-size: 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .searchPage__project {
    margin-left: 20px;
    margin-right: 20px;
  }
  .searchPage__card {
    --sideMargin: 14px;
    margin-left: var(--sideMargin);
    margin-right: var(--sideMargin);
  }
  .searchPage__warning {
    margin: 0 20px;
    margin-top: 25px;
  }
  .myProjectsPage {
    width: 100%;
  }
  .myProjectsPage__placeholder {
    font-size: 15px;
  }
  .myProjectsPage__block .infoCard {
    margin: 20px;
  }
  .myProjectsPage__blockFooter {
    gap: 20px;
  }
  .notificationPage .notification {
    width: calc(100% - 40px);
  }
  .notificationPage__caption {
    font-size: 15px;
  }
  .notification__title {
    font-size: 20px;
  }
  .settingsPage {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settingsPage-maker {
    padding: 20px;
  }
  .settingsPage__title {
    font-size: 20px;
    font-weight: 400;
  }
  .settingsPage__block:not(.settingsPage__achivements) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .settingsPage__block:last-child {
    margin-bottom: 0;
  }
  .settingsPage__imageHolder {
    width: 180px;
    height: 180px;
  }
  .settingsPage__nameHolder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .settingsPage__numberBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 8px;
    font-size: 15px;
  }
  .settingsPage__numberBlock .button {
    margin-left: unset;
    width: 100%;
  }
  .settingsPage__number {
    margin: 0;
  }
  .settingsPage__socialCaption {
    font-size: 15px;
  }
  .settingsPage__socialItem {
    font-size: 15px;
  }
  .settingsPage__controlsFooter {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 20px;
  }
  .settingsPage__controlsFooter .button {
    width: 100%;
  }
  .submitPhonePage {
    padding: 40px 20px;
  }
  .submitPhonePage__content {
    margin: 0 auto;
    max-width: 400px;
  }
  .submitPhonePage__inputBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .submitPhonePage__inputBlock .button {
    width: 100%;
  }
  .createProject {
    padding: 20px;
  }
  .createProject__submitButton .button {
    width: 100%;
  }
  .citySelect__variant {
    font-size: 15px;
  }
  .citySelect__variantSubtitle {
    font-size: 12px;
  }
  .makerPage {
    padding: 20px;
  }
  .makerPage__makerCard {
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .makerPage__makerTitle {
    padding: 0 !important;
  }
  .makerPage__makerLogoHolder {
    width: 180px;
    height: 180px;
  }
  .makerPage__makerInfo {
    width: 100%;
  }
  .makerPage__contactsButton {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .makerPage__controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 8px;
  }
  .makerPage__controls .button:not(.square) {
    width: 100%;
  }
  .makerPage__rating {
    margin-bottom: 14px;
  }
  .makerPage__blockTitle {
    font-size: 20px;
    font-weight: 400;
  }
  .makerPage__caption {
    font-size: 15px;
  }
  .makerPage__contactsBlock {
    gap: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .makerPage__footer {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .makerPage__footer .button {
    width: 100%;
  }
  .suggestProject {
    padding: 20px;
  }
  .suggestProject__maker {
    gap: 14px;
  }
  .suggestProject__makerTitle {
    font-size: 20px;
    padding-left: 0;
    padding-right: 20px;
  }
  .suggestProject__makerLogo {
    width: 60px;
    height: 60px;
  }
  .suggestProject__projectsCaption {
    font-size: 15px;
  }
  .suggestionsPage {
    width: unset;
    margin: 0 20px;
    margin-bottom: 25px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .suggestionsPage__caption {
    font-size: 15px;
  }
  .setReview__title {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  .infoCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: unset;
    width: unset;
  }
  .infoCard__image {
    width: 100%;
    height: unset;
    margin: 0;
    padding: 2px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    aspect-ratio: 16/9 !important;
  }
  .infoCard__container {
    padding: 6px 4px 4px 14px;
  }
  .infoCard__body {
    margin-top: 8px;
    margin-bottom: 18px;
    font-size: 15px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .infoCard__footer {
    font-size: 15px;
  }
  .searchingProject__resp {
    font-size: 12px;
  }
  .projectSearchingPage {
    padding: 20px;
  }
  .projectSearchingPage__blockTitle {
    font-size: 20px;
    font-weight: 400;
  }
  .projectSearchingPage__block {
    margin-top: 40px;
  }
  .projectSearchingPage__block .makerResponse:last-child {
    margin-bottom: 0;
  }
  .projectSearchingPage__parameterTitle, .projectSearchingPage__parameterValue {
    font-size: 15px;
  }
  .projectSearchingPage__description {
    font-size: 15px;
  }
  .projectSearchingPage__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectSearchingPage__caption {
    font-size: 15px;
  }
  .projectSearchingPage .galery {
    height: unset;
  }
  .projectSearchingPage__controls {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectSearchingPage__makerCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 14px;
  }
  .projectSearchingPage__makerLogoHolder {
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: red;
  }
  .projectSearchingPage__makerTitleBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .projectSearchingPage__gantFooter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projectSearchingPage__gantFooter .button {
    width: 100%;
  }
  .projectSearchingPage__gantFooter .notificationIndicatorHolder {
    width: 100%;
  }
  .makerResponse {
    height: unset;
    padding: 14px;
  }
  .makerResponse__header {
    font-weight: 400;
  }
  .makerResponse__text {
    font-size: 15px;
  }
  .makerResponse__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .makerProfileCard {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 0;
    gap: 16px;
  }
  .makerProfileCard__info {
    width: 100%;
    padding: 14px;
    padding-top: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background-color: rgba(255, 255, 255, 0);
    gap: 14px;
    aspect-ratio: unset;
  }
  .makerProfileCard__infoRightPart {
    -ms-flex-negative: initial;
        flex-shrink: initial;
    width: initial;
  }
  .makerProfileCard__projects {
    width: 100%;
    aspect-ratio: 1/1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 14px;
    padding-bottom: 0;
  }
  .makerProfileCard__projects .makerProfileCard__tile:not(:first-child) {
    display: none;
  }
  .makerProfileCard__tile {
    width: 100%;
    height: 100%;
  }
  .makerProfileCard__logoHolder {
    width: 50px;
    height: 50px;
  }
  .makerProfileCard__content {
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
  }
  .makerProfileCard__achivements {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .makerProfileCard__achivement {
    width: 24px;
    height: 24px;
  }
  .makerProfileCard__footer .button {
    width: 100%;
  }
  .activeProject__body {
    padding: 0;
  }
  .eventCreation .textArea {
    width: 100%;
  }
  .review__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 0;
  }
  .negotiation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 15px;
    gap: 4px;
  }
  .negotiation__date {
    margin: 0;
    font-size: 12px;
  }
  .event {
    height: 60px;
  }
  .event__content {
    font-size: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 4px;
  }
  .event__date {
    font-size: 12px;
  }
  .negotiationView {
    padding: 20px;
  }
  .negotiationView__subtitle {
    margin-bottom: 20px;
  }
  .negotiationView__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .ocSuggestion {
    padding: 14px;
  }
  .ocSuggestion__text {
    font-size: 15px;
  }
  .ocSuggestion__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ocSuggestion__controls {
    width: 100%;
  }
  .ocSuggestion__controls .button {
    width: 100%;
  }
  .outcomingSuggestions__list {
    width: unset;
    margin: 0 20px;
  }
  .outcomingSuggestions__caption {
    font-size: 15px;
  }
  .SEOArticle {
    height: 120px;
  }
  .SEOArticle__title {
    font-size: 20px;
    font-weight: 400;
    -webkit-line-clamp: 1;
  }
  .SEOArticle__text {
    font-size: 15px;
  }
  .SEOArticle__date {
    font-size: 12px;
  }
  .SEOArticlePage {
    margin-top: 80px;
    padding: 20px;
  }
  .SEOArticlePage__title {
    font-size: 32px;
    font-weight: 400;
  }
  .SEOArticlePage__text {
    font-size: 15px;
  }
  .SEOArticlePage__date, .SEOArticlePage__name {
    font-size: 12px;
  }
  .SEOArticleCreation .imageLoader__dropzone {
    height: unset;
    max-width: unset;
    width: 100%;
  }
  .privacyPolicy {
    width: 100%;
  }
  .privacyPolicy__point p {
    font-size: 15px;
  }
  .privacyPolicy__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .registration__title {
    font-size: 25px;
  }
  .SEOArticle {
    height: 84px;
  }
  .SEOArticle__text {
    margin-top: 4px;
    -webkit-line-clamp: 1;
  }
}
@media screen and (max-width: 372px) {
  .registration__title {
    font-size: 20px;
  }
}