$primary-theme-background: #FFE7C3;
$primary-theme-color: #CC8C52;
$secondary-theme-color: #401F00;

$primary-text-color: #262626;
$secondary-text-color: #676767;
$placeholder-text-color: #808080;
$light-text-color: #C5C5C5;

$background-fill: #FAFAFA;
$element-background: #F2F2F2;

$default-font-family: 'Fira Sans', sans-serif;
$font-light: 200;
$font-regular: 300;
$font-medium: 400;
$font-bold: 500;