.intro__block{
  /* position: relative; */
  /* width: calc(428/1344*100%); */
  /* aspect-ratio: 428/638; */
  border-radius: 20px;
  overflow: hidden;
  background: #F8F9F9;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;

  min-width: 200px;
  margin: 0 15px;

  display: flex;
  flex-direction: column;
  flex: 1;
}
