@font-face{
  src: url('../fonts/Manrope-SemiBold.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
}

@font-face{
  src: url('../fonts/Manrope-Regular.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
}

@font-face{
  src: url('../fonts/Manrope-Medium.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
}

@font-face{
  src: url('../fonts/Manrope-Light.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
}

@font-face{
  src: url('../fonts/Manrope-ExtraLight.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 200;
}

@font-face{
  src: url('../fonts/Manrope-ExtraBold.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 800;
}

@font-face{
  src: url('../fonts/Manrope-Bold.ttf');
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 700;
}
