.article__text{
  margin: 0;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: var(--f-z-large);
  line-height: 1.3em;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 40px;
  cursor: default;
}
